[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
tabulate = "*"
dictdiffer = "*"

[dev-packages]
pytest = "*"
requests-mock = "*"
pre-commit = "*"
black = "*"
coverage = "*"
coveralls = "*"
ruff = "*"
mypy = "*"
types-requests = "*"
types-tabulate = "*"

[requires]
python_version = "3.12"

[scripts]
copy_roles = "python -c \"from copyroles.cli import main; main()\""
